name: Publish NuGet

on:
    push:
        branches: [master]
        paths-ignore:
            - "**.md"
    pull_request:
        branches: [master]
        paths-ignore:
            - "**.md"

env:
    DOTNET_VERSION: "6.0.*"
    DOTNET_CLI_TELEMETRY_OPTOUT: true
    DOTNET_NOLOGO: true
    PUBLISH_FOLDER: "a"
    NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Setup .NET Core
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: ${{ env.DOTNET_VERSION }}

            - name: Install dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --configuration Release --no-restore

            - name: Test
              run: dotnet test --configuration Release --no-build

            - name: Publish
              run: dotnet nuget push "**/bin/Release/*.nupkg" --skip-duplicate --api-key ${NUGET_TOKEN} --source https://api.nuget.org/v3/index.json
